@font-face {
    font-family: 'suisse_intlregular';
    src: url('../fonts/SuisseIntl-Regular.otf') format('opentype'),
        url('../fonts/SuisseIntl-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suisse_intlregular_light';
    src: url('../fonts/SuisseIntl-Light.otf') format('opentype'),
        url('../fonts/SuisseIntl-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suisse_intlmedium';
    src: url('../fonts/SuisseIntl-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@keyframes animatebottom {
    from {
        bottom: -10px;
    }

    to {
        bottom: 0;
        opacity: 1
    }
}


@keyframes curtain-animation {
    100% {
        width: 0vh;
    }
}

@keyframes line-animation {
    100% {
        width: 100%;
    }
}

@keyframes email-animation {
    to {
        opacity: 1
    }
}

@keyframes dot-animation {
    to {
        opacity: 1
    }
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    height: 100vh;
    background-color: #01072E;
    /* background: linear-gradient(45deg, #050B32 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

.nav {
    position: relative;
}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo-3d {
    position: absolute;
    top: 40px;
    right: 40px;
}

.contact-section {
    /* display: none; */
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.email-block {
    opacity: 0.3;
    text-align: right;
    position: absolute;
    right: 40px;
    bottom: 40px;
    animation-delay: 0.6s;
    animation-name: email-animation;
    /* animation-timing-function: ease-out; */
    animation-duration: 1s;

    animation-fill-mode: forwards;
}

.social-block {
    height: 201px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
}

.email-link {
    color: #BBE8FB;
    font-size: 32px;
    text-decoration: none;
    font-family: "suisse_intlregular";
    line-height: 24px;
    transition: 0.3s;
}

.email-link:hover {
    opacity: 0.8;
}

.social-round {
    will-change: transform, opacity;
    bottom: -10px;
    width: 120px;
    height: 120px;
    background-color: #235EE7;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
}

.social-round:hover  {
    margin-right: 8px;
    margin-left: 8px;
    width: 104px;
    height: 104px;
    background-color: #FFFFFF;
}

.dr:hover {
    margin-right: 8px;
}


.social-round:hover .social-icon {
    filter: brightness(0) saturate(100%) invert(5%) sepia(45%) saturate(4380%) hue-rotate(227deg) brightness(97%) contrast(105%);
}

.social-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.social-accounts {
    width: 408px;;
    height: 120px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.ig {
    opacity: 0;
    animation-delay: 1.2s;
    animation-name: animatebottom;
    /* animation-timing-function: ease-out; */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.bh {
    opacity: 0;
    animation-delay: 1.15s;
    animation-name: animatebottom;
    /* animation-timing-function: ease-out; */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.dr {
    opacity: 0;
    animation-delay: 1.1s;
    animation-name: animatebottom;
    /* animation-timing-function: ease-out; */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* .right-distance {
    margin-right: 24px;
} */

.line {
    width: 0%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 40px;
    animation-name: line-animation;
    animation-duration: 0.6s;
    animation-delay: 1.2s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
    animation-fill-mode: forwards;
}

.follow-us-block {
    display: flex;
    line-height: 24px;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: baseline;
}

.follow-us-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-family: "suisse_intlregular_light";
}

.follow-us-dot {
    opacity: 0;
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    animation-name: dot-animation;
    animation-duration: 0.7s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
}

.curtain {
    position: absolute;
    height: 100%;
}

.curtain-1 {
    z-index: 5;
    animation-name: curtain-animation;
    animation-timing-function: cubic-bezier(0.48, 0.02, 0.16, 0.93);
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    width: 100%;
    background-color: #01072E;
}

.curtain-2 {
    z-index: 4;
    animation-name: curtain-animation;
    animation-timing-function: cubic-bezier(0.48, 0.02, 0.16, 0.93);;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    width: 100%;
    background-color: #BBE8FB;
}

.curtain-3 {
    z-index: 3;
    animation-name: curtain-animation;
    animation-timing-function: cubic-bezier(0.48, 0.02, 0.16, 0.93);;
    animation-duration: 1.1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    width: 100%;
    background-color: #235EE7;
}

.agency-info {
    position: absolute;
    top: 288px;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.slogan-block {
    white-space: nowrap;
    display: flex;
}

.slogan-block>div {
    display: flex;
    -webkit-animation: scrollText 40s infinite linear;
    animation: scrollText 40s infinite linear;
}

.slogan-text {
    color: #FFFFFF;
    font-size: 68px;
    line-height: 72px;
    letter-spacing: 0px;
    font-family: "suisse_intlmedium";
}

.desc-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.4px;
    font-family: "suisse_intlregular_light";
    padding-left: 16px;
}

.agency-desc {
    margin: 40px 40px 0 40px;
}

.desc-container {
    display: flex;
    width: 22%;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem; */
}

.desc-dot {
    font-size: 8px;
    color: #235EE7;
    vertical-align: middle;
    /* padding-bottom: 4px; */
    padding-top: 5px;
}

.highlighted{
    color:#BBE8FB;
}

@-webkit-keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 320px) {

    .follow-us-text{
        font-size: 14px;
        line-height: 16px;
    }

    .logo > img{
        width: 108px;
        height: 20px;
    }

    .logo {
        top: 20px;
        left: 20px;
    }

    .agency-desc{
        margin: 20px 20px 0 20px;
    }
    
    .agency-info{
        top: 80px;
    }

    .slogan-text{
        font-size: 32px;
        line-height: 36px;
    }

    .desc-text{
        font-size: 14px;
        line-height: 16px;
    }

    .contact-section {
        flex-direction: column;
        bottom: 20px;
        /* display: none; */
    }

    .email-block {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        position: static;
        right: 0;
        bottom: 0;
    }

    .social-block {
        height: 173px;
        position: static;
        bottom: 0;
        left: 0;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0;
    }

    .email-link {
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.01em; 
    }

    .social-round {
        width: 83px;
        height: 83px;
    }

    .social-accounts {
        width: auto;
        margin-bottom: 20px;
        justify-content: space-between;
    }


    .line {
        margin-bottom: 20px;
    }

    .desc-container {
        width: 92%;
        display: flex;
    }

    
    .social-round:hover  {
        margin-left: 5px;
        margin-right: 5px;
        width: 65px;
        height: 65px;
        background-color: #FFFFFF;
    }

    
    .dr:hover {
        margin-right: 5px;
    }

    .follow-us-block{
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .logo {
        top: 32px;
        left: 20px;
    }

    .agency-desc{
        margin: 24px 20px 0 20px;
    }
    
    .agency-info{
        top: 200px;
    }

    .slogan-text{
        font-size: 40px;
        line-height: 48px;
    }

    .contact-section {
        flex-direction: column;
        bottom: 32px;
        /* display: none; */
    }

    .email-block {
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        position: static;
        right: 0;
        bottom: 0;
    }

    .social-block {
        height: 201px;
        position: static;
        bottom: 0;
        left: 0;
        /* margin: 0 auto; */
        margin-right: 20px;
        margin-left: 20px;
    }

    .email-link {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.01em; 
    }

    .social-round {
        width: 101px;
        height: 101px;
    }

    .social-accounts {
        width: auto;
        margin-bottom: 32px;
        justify-content: space-between;
    }


    .line {
        margin-bottom: 20px;
    }

    .desc-container {
        width: 90%;
        display: flex;
    }

    
    .social-round:hover  {
        width: 85px;
        height: 85px;
        background-color: #FFFFFF;
    }

    
    .dr:hover {
        margin-right: 8px;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo > img{
        width: 172px;
        height: 32px;
    }

    .agency-info{
        top: 312px;
    }
    
    .slogan-text{
        font-size: 56px;
        line-height: 64px;
    }
    .desc-container{
        width: 45%;
    }
    .social-round{
        width: 104px;
        height: 104px;
    }
    .social-accounts{
        width: 344px;
        height: 104px;
    }
    .email-link{
        font-size: 24px;
        line-height: 18px;
    }
    .social-block{
        height: 185px;
    }
}