@font-face {
    font-family: 'suisse_intlregular';
    src: url('../fonts/suisseintl-regular-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes animatebottom { 
    from{ bottom:-20px; } 
    to{ bottom:0; opacity:1 }
}

  
@keyframes curtain-animation {
    100% {width:0%;}
}

@keyframes line-animation {
    100% {width: 100%;}
}

@keyframes email-animation {
    to{ opacity:1 }
}

body{
    height: 100vh;
    background-color: #050B32;
}

.nav{
    position: relative;
}

.logo{
    position: absolute;
    top: 47px;
    left: 40px;
}

.contact-section{
    display: flex;
    justify-content:space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.email-block{
    opacity: 0.3;
    text-align: right;
    position: absolute;
    right: 40px;
    bottom: 40px;
    animation-delay: 0.4s;
    animation-name: email-animation;
    /* animation-timing-function: ease-out; */
    animation-duration: 1s;
   
    animation-fill-mode :forwards;
}
.social-block{
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    flex-direction: column;
}

.email-link{
    color: #BBE8FB;
    font-size: 32px;
    text-decoration: none;
    font-family: "suisse_intlregular";
}

.social-round{
    width: 120px;
    height: 120px;
    background-color: #235EE7;
    border-radius: 50%;
    position: relative;
}
.social-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.social-accounts{
    position: relative;
    display: flex;
}

.ig {
    opacity: 0;
    animation-delay: 0.9s;
    animation-name: animatebottom;
    /* animation-timing-function: ease-out; */
    animation-duration: 1s;
   
    animation-fill-mode :forwards;
}

.fb {
    opacity: 0;
    animation-delay: 0.8s;
    animation-name: animatebottom;
    /* animation-timing-function: ease-out; */
    animation-duration: 1s;
   
    animation-fill-mode :forwards;
}

.bh {
    opacity: 0;
    animation-delay: 0.7s;
    animation-name: animatebottom;
    /* animation-timing-function: ease-out; */
    animation-duration: 1s;
   
    animation-fill-mode :forwards;
}


.mr-24{
    margin-right: 24px;
}

.line{
    width: 0%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 40px;
    animation-name: line-animation;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode :forwards;
}

.follow-us-block{
    display: flex;
    line-height: 24px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.follow-us-text{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-family: "suisse_intlregular";  
}

.follow-us-dot{
    width: 8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.curtain {
    position: absolute;
    height: 100%;
}

.curtain-1 {
    z-index: 5;
    animation-name: curtain-animation;
    animation-timing-function: ease;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode :forwards;
    width: 100%;
    background-color: #050B32;
}

.curtain-2 {
    z-index: 4;
    animation-name: curtain-animation;
    animation-timing-function: ease;
    animation-duration: 0.6s;
    animation-delay: 0.3s;
    animation-fill-mode :forwards;
    width: 100%;
    background-color: #BBE8FB;
}

.curtain-3 {
    z-index: 3;
    animation-name: curtain-animation;
    animation-timing-function: ease;
    animation-duration: 0.6s;
    animation-delay: 0.45s;
    animation-fill-mode :forwards;
    width: 100%;
    background-color: #235EE7;
}


